package-lock.json
dist/
/node_modules/
test/fixtures/testproj*/project/project/
test/fixtures/testproj*/project/target/
test/fixtures/testproj*/target/
.idea
target/

# Diagnostic reports (https://nodejs.org/api/report.html) 
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

coverage
