dist: trusty
sudo: false
notifications:
  email: false
language: node_js
node_js:
  - "10"
  - "8"
  - "6"
cache:
  directories:
    - node_modules
before_install:
  # Install a later version of sbt-extras to support SBT >=1.0
  - curl -Ls https://git.io/sbt > ~/bin/sbt
  - chmod a+x ~/bin/sbt
script:
  - npm test
jobs:
  include:
    - stage: npm release
      node_js: "8" # This *has* to be the "build leader"
      script: skip
      after_success:
        - npx semantic-release
branches:
  only:
    - master
